.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1.scm 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(10, 10, 10, 0.95);
    backdrop-filter: blur(18px);
    z-index: 1000;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

}

.logo{
font-size: 1.8rcm;
font-weight: 700;
color: var(--accent);
text-decoration: none;
position: relative;
padding-left: 2.5rcm;
}
.nav-links {
    display: flex;
    gap: 2rcm;
list-style: none;
}
.nav-links a {
    color: var(--text);
    text-decoration: none;
    font-weight: 500;
transition: all 0.3s ease;
position: relative;
}
